In [4]:
import pandas as pd
from sqlalchemy import create_engine
from config import SQL_PASS

In [6]:
engine = create_engine(f'postgresql://postgres:{SQL_PASS}@localhost:5432/test_karuna_db')

## 1. SQL
В файле “Схема.pdf” дана схема базы данных. 

Таблица Users содержит информацию о пользователях:

	- registered_at: дата и время регистрации пользователя
	- country_id: ID страны регистрации пользователя
	- campaign: название рекламной кампании, через которую был привлечен пользователь

Таблица Countries содержит информацию о странах:

	- iso: двухбуквенное обозначение страны
	- full_name: полное название страны

Таблица Orders содержит информацию о транзакциях пользователей:

	- finished_at: дата и время осуществления транзакции
	- user_id: ID пользователя
	- amount_usd: Размер транзакции в USD (может быть положительным и отрицательным)

### 1.1
Вывод количества всех транзакций, сгруппированных по месяцам, совершенных пользователями, которые зарегистрировались в тот же месяц, что и осуществили транзакцию. (Т.е. За июль 2019 - это пользователи, зарегистрированные в июле 2019, за август 2019 - в августе 2019 и т.д.)

In [32]:
query = '''SELECT EXTRACT ('month' from date_trunc)::int as month,
            EXTRACT ('year' from date_trunc)::int as year, count_orders
            FROM (
                (SELECT DATE_TRUNC('month', finished_at), COUNT(finished_at) as count_orders
                FROM Orders as o 
                LEFT JOIN Users as u on o.user_id=u.id
                WHERE DATE_TRUNC('month', finished_at)=DATE_TRUNC('month', registered_at)
                GROUP BY DATE_TRUNC('month', finished_at))) t1
            '''
pd.read_sql(query, engine)

   month  year  count_orders
0      6  2024             4
1      8  2024             3

### 1.2
Вывод количества пользователей не из России, зарегистрировавшихся в 2019 году, доход (ввод минус вывод) с каждого из которых за все время составил больше 1000$

In [56]:
query = '''SELECT COUNT(*)
            FROM (SELECT * 
           FROM users as u 
                LEFT JOIN countries as c on u.country_id=c.id
                LEFT JOIN (SELECT user_id, SUM(amount_usd)
                            FROM orders
                            GROUP BY user_id) as o on u.id=o.user_id
            WHERE iso!='RU' AND sum>1000 AND EXTRACT ('year' from registered_at)=2019) t
            '''
pd.read_sql(query, engine)

   count
0      1